<%= render 'shared/navbar' %>
<h3 class="notes-title">Notes:</h3>
<h1 class="note-song-title-header"><%= @practice.song.title %></h1>

  <% if @notes.empty? %>
    <div class="notes-list">
      <div class="note">
        <div class="note-left">
          <p class="text-center">You have no notes for this song</p>
        </div>
      </div>
      <div class="line"></div>
    </div>

  <% else %>
    <div class="notes-list">
      <% @notes.each do |note| %>
        <div class="note">
          <div class="note-left">
            <p class="note-date"><%= note.created_at.strftime('%A, %b %d') %></p>
            <p class="note-content"><%= note.content %></p>
          </div>
          <div class="relative">
            <%= link_to "", practice_note_path(@practice, note), class: "link" %>
            <i class="far fa-edit"></i>
          </div>
           <div class="relative">
            <%= link_to "", practice_note_path(@practice, note), method: :delete, class: "link" %>
            <i class="fas fa-trash-alt"></i>
          </div>
        </div>
        <div class="line"></div>
    <% end %>
    </div>
    <%= link_to "+", new_practice_note_path(@practice), class: "mn-btn-circle botom-right-corner"  %>
  <% end %>
