<%= render 'shared/navbar' %>

<h1 class="center-30 header-1"><%= @practice.song.title %> Notes</h1>
  <% if @notes.empty? %>
    <h1>You have no notes for this song</h1>
  <% else %>
    <div class="notes-list">
      <% @notes.each do |note| %>
        <div class="note">
          <div class="note-left">
            <p class="note-date"><%= note.created_at.strftime('%A, %b %d') %></p>
            <p class="note-content"><%= note.content %></p>
          </div>
          <div class="relative">
            <%= link_to "", practice_note_path(@practice, note), class: "link" %>
            <i class="far fa-edit"></i>
          </div>
           <div class="relative">
            <%= link_to "", practice_note_path(@practice, note), method: :delete, class: "link" %>
            <i class="fas fa-trash-alt"></i>
          </div>
        </div>
        <div class="line"></div>
    <% end %>
    </div>
    <%= link_to "+", new_practice_note_path(@practice), class: "mn-btn-circle botom-right-corner"  %>
  <% end %>
