<div class="modal fade" id="ModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <form id="song-search">
          <input type="text" class="query" placeholder="Search for a Song">
        </form>
         <%= form_for(@song) do |f| %>
          <div class="song-list">
          </div>
         <% end %>
      </div>
      <div class="modal-footer">
        <input type="submit" form="new_song" value="Create Song" class="mn-btn mn-btn-primary">
        <a href="#" class="mn-btn mn-btn-secondary" data-dismiss="modal">Close</a>
      </div>
    </div>
  </div>
</div>

<button type="button" class="mn-btn-circle botom-right-corner" data-toggle="modal" data-target="#ModalCenter">
  +
</button>

<div class="modal fade" id="ModalScrollable" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="song-list">
            <% @unlearned.each do |practice| %>
              <div class="song-item">
                <img src="<%= practice.song.album_url %>" alt="<%= practice.song.title %>">
                <div class="song-item-info">
                  <input type="hidden" name="practice_id" value='<%= practice.id %>'>
                  <input type="radio" style="display: none" name="radios" id="choice">
                  <h2><%= practice.song.title %></h2>
                  <p><%= practice.song.artist.name %></p>
                </div>
                <%= link_to "", practice, class: "song-item-link" %>
              </div>
            <% end %>
        </div>
      </div>
      <div class="modal-footer">
        <a href="#" class="mn-btn mn-btn-secondary" data-dismiss="modal">Close</a>
      </div>
    </div>
  </div>
</div>
