<div class="mn-navbar">
  <div class="mn-avatar">
    <div class="avatar-info"><%= image_tag asset_path("logo"), class: "profile-photo"%>
      <h3><%= current_user.name %></h3>
    </div>
    <%= image_tag asset_path("mn-logo"), class: "avatar-logo" %>
  </div>
  <div class="second">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <button id='navbarDropdown' class="mn-menu-btn" type="button" name="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-v"></i></button>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <%= link_to "Action", "#", class: "dropdown-item" %>
          <%= link_to "Another action", "#", class: "dropdown-item" %>
          <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
        </div>
      </li>
    </ul>
  </div>
</div>
