<%= render 'shared/navbar' %>
<%#= image_tag asset_path("mind-note-colored") %>
<%= render "practice_card", practice: @first  %>
<h3>Practice Queue</h3>
<div class="practice-queue">
  <% @songs_due.each_with_index do |practice, id| %>
    <% unless id == 0 %>
    <% if practice.importance >= 10 %>
      <div class="song-item importance-border-red">
    <% elsif practice.importance >= 5 %>
      <div class="song-item importance-border-orange">
    <% else %>
      <div class="song-item importance-border-yellow">
    <% end %>
        <%= image_tag practice.song.album_url, alt: practice.song.title %>
        <div class="song-item-info">
          <h2><%= practice.song.title %></h2>
          <p><%= practice.song.artist.name %></p>
        </div>
        <%= link_to "", practice_path(practice.id), class: "song-item-link"  %>
      </div>
    <% end %>
  <% end %>
  <%= link_to "Learn a new song", learn_path, class: "mn-btn-lrg mn-btn-secondary end-btn"  %>
  <div class="add-song relative">
    <%= link_to "", new_song_path, class: "link" %>
    <h2 class="mn-btn-lrg mn-btn-primary" >Add to library</h2>
  </div>
</div>

