<%= render 'shared/navbar' %>
<%#= image_tag asset_path("mind-note-colored") %>
<%= render "practice_card", practices: Practice.urgent_songs(current_user.id)  %>



<% if current_user.songs.empty? %>

  <div class="practice-card sad">
      <h1>Tap the + button to add a song!</h1>
  </div>

<% else %>


 <div class="learn-bar">
  <%= link_to "", learn_path, class: "link"  %>
  <h1>Learn a New Song</h1>
  <div class="learn-bar-albums">
    <% @unlearned.each_with_index do |practice, id| %>
      <% unless practice.song.album_url.nil? %>
        <%= image_tag image_url(practice.song.album_url) %>
        <% break if id == 3%>
      <% end %>
    <% end %>
    </div>
    <p>Tap to Choose</p>
  </div>

  <% if @songs_due == 0 %>
  <div class="review-card">
    <h6 class="cero-review">No more songs left to review today. Good job!</h6>
  </div>

  <% else %>
    <div class="review-card">
      <h1><%= @songs_due %></h1>
      <div class="details">
        <h1>Songs left to review</h1>
      </div>
        <p> <%= link_to "view", review_practices_path %></p>
    </div>
  <% end %>
<% end %>



<%= link_to "+", new_song_path, class: "mn-btn-circle botom-right-corner"  %>





