
<%= render 'shared/navbar' %>

<div class="review-songs">
  <h1 class="page-title">Library</h1>
  <% @practices.each do |practice| %>
    <% if practice.active? %>
      <div class="song-item active">
      <%= image_tag practice.song.album_url, alt: practice.song.title %>
      <div class="song-item-info">
        <h2><%= practice.song.title %></h2>
        <p><%= practice.song.artist.name %></p>
      </div>
      <div class="dropdown-song">
        <div class="dropbtn-song"><i class="fas fa-ellipsis-h"></i></div>
        <div id="myDropdown" class="dropdown-song-content">
          <div class="relative">
            <%= link_to "", statistics_practice_path(practice), class: "link"  %>
            <p>Stats</p>
            <i class="fas fa-chart-line"></i>
          </div>
          <div class="line"></div>
          <div class="relative">
            <%= link_to "", practice_notes_path(practice), class: "link"  %>
            <p>Notes</p>
            <i class="far fa-clipboard"></i>
          </div>
          <div class="line"></div>
          <div class="relative">
            <%= link_to "", practice_path(practice), method: :delete, class: "link"  %>
            <p>Delete</p>
            <i class="fas fa-trash-alt"></i>
          </div>
        </div>
      </div>
    </div>

    <% else %>
       <div class="song-item">
      <%= image_tag practice.song.album_url, alt: practice.song.title %>
      <div class="song-item-info">
        <h2 class="boldify"><%= practice.song.title %></h2>
        <p class="muted-text"><%= practice.song.artist.name %></p>
      </div>
      <div class="dropdown-song">
        <div class="dropbtn-song"><i class="fas fa-ellipsis-h"></i></div>
        <div id="myDropdown" class="dropdown-song-content">
          <div class="relative">
            <%= link_to "", statistics_practice_path(practice), class: "link"  %>
            <p>Stats</p>
            <i class="fas fa-chart-line"></i>
          </div>
          <div class="line"></div>
          <div class="relative">
            <%= link_to "", practice_notes_path(practice), class: "link"  %>
            <p>Notes</p>
            <i class="far fa-clipboard"></i>
          </div>
          <div class="line"></div>
          <div class="relative">
            <%= link_to "", practice_path(practice), method: :delete, class: "link"  %>
            <p>Delete</p>
            <i class="fas fa-trash-alt"></i>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <% end %>
</div>
<%= link_to "+", imports_path, class: "mn-btn-circle botom-right-corner"  %>
