<%= render 'shared/navbar' %>


<p> You joined MindNote on <%= current_user.created_at.strftime("%A, %b %d") %></p>
<p> Number of songs practiced: <%= (@practices.select { |practice| practice.sessions.count > 0 }).count  %></p>
<p>Songs in your repertoire: <%= @practices.count %></p>
<p>Total Rehearsals: <%= @number_of_total_sessions %> </p>
<p>Last song rehearsed:
<%= @last_session.practice.song.title %> by
<%= @last_session.practice.song.artist.name %> by on
<%= @last_session.created_at.strftime("%A, %b %d") %> </p>
<p>Average rehearsal grade: <%= @average_grade %> </p>






