<div class="review-songs">
  <h1>Youre rehearsed songs</h1>
  <% @practices.each do |practice| %>
    <div class="song-item">
      <%= link_to "", statistics_practice_path(practice.id), class: "link" %>
      <%= image_tag practice.song.album_url, alt: practice.song.title %>
      <div class="song-item-info">
        <h2><%= practice.song.title %></h2>
        <p><%= practice.song.artist.name %></p>
      </div>
    </div>
  <% end %>
</div>

<%= link_to "BACK", root_path %>
