<%= render 'shared/navbar' %>

<div class="d-flex align-items-center">
  <%= link_to root_path do %>
    <p class="mn-btn-circle mn-btn-circle-secondary"><i class="fas fa-arrow-left"></i></p>
  <% end %>
  <h1 class="page-title">Your rehearsed songs</h1>
</div>
<div class="review-songs">
  <% @practices.each do |practice| %>
    <div class="song-item">
      <%= link_to "", statistics_practice_path(practice.id), class: "link" %>
      <%= image_tag practice.song.album_url, alt: practice.song.title %>
      <div class="song-item-info">
        <h2><%= practice.song.title %></h2>
        <p><%= practice.song.artist.name %></p>
      </div>
    </div>
  <% end %>
</div>
