<%= render 'shared/navbar' %>


<div class="scroll-list">
  <div class="stat-card center" style="background-image: linear-gradient(208.57deg, rgba(0, 0, 0, 0.5 ), rgba(0, 0, 0, 0.8)), url(<%= asset_path('music6.jpg')%>)">

    <h2>Joined</h2>
    <p><%= current_user.created_at.strftime("%A, %b %d") %></p>
  </div>


  <div class="stat-card center" id="slide-1" style="background-image: linear-gradient(208.57deg, rgba(0, 0, 0, 0.5 ), rgba(0, 0, 0, 0.8)), url(<%= asset_path('music1.jpg')%>)">

    <h2> Songs practiced</h2>
    <p><%= (@practices.select { |practice| practice.sessions.count > 0 }).count  %></p>
  </div>

  <div class="stat-card center" id="slide-2" style="background-image: linear-gradient(208.57deg, rgba(0, 0, 0, 0.5 ), rgba(0, 0, 0, 0.8)), url(<%= asset_path('music2.jpg')%>)">

    <h2>Repertoire</h2>
    <p><%= @practices.count %> songs</p>
  </div>

  <div class="stat-card center" id="slide-3" style="background-image: linear-gradient(208.57deg, rgba(0, 0, 0, 0.5 ), rgba(0, 0, 0, 0.8)), url(<%= asset_path('music3.jpg')%>)">

    <p>Rehearsals</h2>
    <p><%= @number_of_total_sessions %></p>
  </div>

  <div class="stat-card center" id="slide-4" style="background-image: linear-gradient(208.57deg, rgba(0, 0, 0, 0.5 ), rgba(0, 0, 0, 0.8)), url(<%= asset_path('music4.jpg')%>)">

    <h2>Last Practice</h2>
    <p><%= @last_session.created_at.strftime("%A, %b %d") %></p>
  </div>

  <div class="stat-card center" id="slide-5" style="background-image: linear-gradient(208.57deg, rgba(0, 0, 0, 0.5 ), rgba(0, 0, 0, 0.8)), url(<%= asset_path('music5.jpg')%>)">

    <h2>Grade average</h2>
    <p>Average rehearsal grade: <%= @average_grade %> </p>
  </div>
</div>


