<%= render 'shared/navbar' %>

<div class="song-card" style="background-image: linear-gradient(208.57deg, rgba(0, 0, 0, 0.5 ), rgba(0, 0, 0, 0.8)), url('<%= @practice.song.album_url %>')">
  <div id="timerContainer">
    <div class="startTimer" >
      <i class="fas fa-play"></i>
    </div>
    <div class="timer">
      <h3>00:00:00</h3>
    </div>
  </div>

  <div class="song-card-info">
    <h3 class="boldify"><%= @practice.song.title %></h3>
    <p class="muted-text"><%= @practice.song.artist.name %></p>
  </div>


</div>

<%= form_for [@practice, @note], remote: true do |f| %>
  <div class="form-practice-show-container d-flex justify-content-around">
    <div class="d-flex">
      <%= f.text_area :content, placeholder: "Add a MindNote", class: "tl-bl-border-radius" %>
      <%= f.submit "Add", class: "mn-btn mn-btn-form mn-btn-primary" %>
    </div>
  </div>
<% end %>

<div class="note-list" id='note-list'>
  <h3>Past MindNotes</h3>
  <ul>
    <% @practice.notes.each do |note| %>
    <li>
      <div class="note-card">
        <p><%= note.created_at.strftime('%A, %b %d') %></p>
        <h3><%= note.content %></h3>
      </div>
    </li>
    <% end %>
  </ul>
</div>


<div class="resetTimer">
  <%= link_to "End Practice", new_practice_session_path(@practice), class: 'mn-btn mn-btn-primary bottom-btn' %>
</div>
