<%= render 'shared/navbar' %>

<div class="song-card" style="background-image: linear-gradient(208.57deg, rgba(0, 0, 0, 0.5 ), rgba(0, 0, 0, 0.8)), url('<%= @practice.song.album_url %>')">
  <div class="timer"><h3>Begin Practice</h3></div>

  <div class="song-card-info">
    <h3><%= @practice.song.title %></h3>
    <p><%= @practice.song.artist.name %></p>
  </div>

  <div id="timerContainer">
    <div class="startTimer" >
      <i class="fas fa-play"></i>
    </div>
  </div>

  <div class="resetTimer">
    <%= link_to "End Practice", new_practice_session_path(@practice), class: 'mn-btn-lrg mn-btn-primary' %>
  </div>
</div>

<%= form_for ([@practice,@note]) do |f| %>
  <div class="hey">
    <%= f.text_area :content %>
    <%= f.submit "Done", class: "mn-btn mn-btn-primary" %>
  </div>
<% end %>
