<%= form_tag("/playlists", method: "post", class: "playlist-songs") do %>
  <h1>Songs</h1>
  <% incrementor = 0 %>
  <% @songs.each do |song| %>
    <% song_data = { name: song["track"]["name"], artist: song["track"]["artists"][0]["name"], url: song["track"]["album"]["images"][0]["url"] } %>
    <%= check_box_tag "songs[]", song_data.to_json, true, id: "song-#{incrementor}", style: "display: none"%>
      <%= label_tag("song-#{incrementor}", class: "song-item") do %>
          <%= image_tag song_data[:url], alt: song_data[:name] %>
          <div class="song-item-info">
            <h2><%= song_data[:name] %></h2>
            <p><%= song_data[:artist] %></p>
          </div>
      <% end %>
    <% incrementor += 1 %>
  <% end %>
  <%= submit_tag("Import Songs", class: "mn-btn bottom-btn-spotify") %>
<% end %>
